/* Individual Product Page Main Section */

.body-mg{
    margin: 0;.
}

.ind-product-overview {
    position: relative;
    width: 100vw;
    height: auto;
    padding: 0;
    color: #ffffff;
    border-top: 0.5px solid #1D5E98;
    overflow: auto;
}

.ind-product-main-left {
    position: relative;
    width: 100vw;
    height: auto;
    padding: 0;
    color: #ffffff;
    border-top: 0.5px solid #1D5E98;
    overflow: auto;
}

/* Breadcrumbs */
ul.breadcrumbs {
    padding: 10px 50px 0;
    list-style: none;
    font-size: 0.8rem;
    color: #333333;
    font-weight: bold;
}
ul.breadcrumbs li {display: inline;}
ul.breadcrumbs li+li:before {
    padding: 8px;
    color: #333333;
    content: ">\00a0";
}
ul.breadcrumb li a {
    color: #333333;
    text-decoration: none;
}
ul.breadcrumbs li a:hover {
    color: #3CC84A;
    cursor: pointer;
}

/* Individual Product Text Section - Left */

.product-details {
    position: relative;
    width: 100%;
    min-height: auto;
    padding: 0 5% 5% 5%;
    color: #ffffff;
    overflow: auto;
}

.description-text {
    background-color: #ffffff;
}

.ind-product-overview .product-name {
    position: relative;
    text-align: left;
    color: #1D5E98;
    text-transform: capitalize;
    font-size: 2rem;   
    font-weight: 300;
}

.details-title {
    color: #723B04;
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0;
}

ul.bullets {
    list-style-type: inherit;
}

.underline {
    text-decoration: underline;
    color: #1D5E98;
    font-weight: 400;
    padding: 0;
}

.details-contents {
    color: #333333;
    line-height: 200%;
    font-weight: 200;
    margin-top: 0;
}

.review{
    padding: 0;
}

.star{
    margin-top: 0;
}

.left-align{
    padding-left: 0;
}

.std-txt{
    color: #333333;
}

.qty-field{
    margin: 10px 0;
}

.thumb-item {
    list-style:none;
    padding-left: 0;
    text-align: center;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
    top: 0;
}

.slideone{
    top: 0;
}

.slidetwo{
    margin: 0;
    top: 0;
}

.slider-container{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

/*スライダー*/
/*左右の矢印の色を変える*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}
/*左右の矢印の位置を変える*/
.slick-next {
    right: 20px;
    z-index: 99;
}
.slick-prev {
     left: 15px;
    z-index: 100;
}
/*スライド数のドットの色を変える*/
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff;
}
/*スライド画像の横幅可変*/
img {
    max-width: 100%;
     height: auto;
}


/* Individual Product Photo Section - Right */
.description-photos {
    text-align: center;
}

.thumbnails {
    color: #723B04;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
}

.thumb-ind{
    width: 15%;
    height: 15%;
    text-align: center;
}

/* Customer Reviews */
.customer-reviews {
    position: relative;
    width: 100%;
    min-height: auto;
    padding: 0 5% 5% 5%;
    color: #ffffff;
    border-top: 0.5px solid #1D5E98;
    overflow: auto;
}

.section-title {
    position: relative;
    text-align: left;
    color: #1D5E98;
    text-transform: capitalize;
    font-size: 2rem;   
    font-weight: 200;
}

.review-title {
    color: #333333;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
}

.stars{
    padding-left: 0;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
    border: none;
    float: left;
    margin: 0;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

/* Write a Review button */
.review-button {
    padding: 20px 0;
}
.btn-review {
    border-radius: 10px;
	color: #ffffff;
	font-weight: 200;
    font-size: 1rem;
	text-decoration: none;
	padding:5px 20px;
	background: #2ECC71;
	border: 2px solid #2ECC71;
	box-shadow: 0px 2px 0px 0px #22894E;
	}