/* Products Page Hero Content */
.products-hero-content {
    position: relative;
    /* background-color: gray; */
    width: 100%;
    min-height: 600px;
    background-image: url(../images/K9C-Prods-Hero-Blue.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px 60px;
    color: #ffffff;
}

.products-hero-content .products-title {
    position: relative;
    width: 50%;
    text-align: left;
    font-size: 3rem;
    font-weight: 200;
    color: #1D5E98;
}

.products-hero-content .products-copy {
    position: relative;
    width: 50%;
    text-align: left;
    font-size: 2rem;
    font-weight: 200;
    line-height: 200%;
    color: #333333;
}

/* Fabric Panels in Products Page*/
.fabric-panel-square {
    position: relative;
    margin: 0 auto;
    padding: 20px 10px 0;

 }

.fabric-panel-square img {
    display: block;
    margin 0 auto;
    width: 100%;
    position: center;
}

.fabric-panel-square .viewmore {
    color: #723B04;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 200;
    text-align: center;
    padding: 95px 0;
}

.viewmore-products {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    min-height: 200px;
}

.viewmore-products .section-more {
    position: relative;
    text-align: center;
    color: #723B04;
    text-transform: uppercase;
    font-size: 2.25rem;   
    font-weight: 200;
}

/* Footer - non-landing-page */
.footer-content-2 {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: #1D5E98;
    padding: 20px 100px;
    min-height: 120px;
}

.footer-content-2 .title-text {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 200;
}

.footer-content-2 .footer-column i{
	color:#ffffff;
	font-size: 3rem;
	margin: 0 0.5rem 0.5rem;
	vertical-align: middle;
	}
